// В этом файле должны быть стили для БЭМ-блока table, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table {

  $block-name:                &; // #{$block-name}__element {}
  border: 1px solid $color-main--accent;
  font-size: 13px;

  th, td {
    border-color: $color-main--accent;
    padding: 0px 21px;
  }

  .thead-light {
    th {
      background-color: $color-main--accent;
      border-color: $color-main--accent;
    }
  }

  thead {
    font-size: 14px;

    th, td {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  tbody {
    th, td {
      padding-top: 12px;
      padding-bottom: 8px;
    }
  }
}
