// В этом файле должны быть стили для БЭМ-блока main-info, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-info {

  $block-name:                &; // #{$block-name}__element {}
  display: flex;
  align-items: center;
  
  padding-bottom: 44px;

  @include media-breakpoint-up(lg) {
    height: 580px;
  }

  &__content {
    padding-right: 0px;

    @include media-breakpoint-up(xl) {
      padding-right: 600px;
    }
    @include media-breakpoint-up(lg) {
      padding-right: 350px;
    }

    p {
      margin-bottom: 33px;
    }
  }

  .head-h1 {
    margin-bottom: 17px;
  }
}
