// В этом файле должны быть стили для БЭМ-блока default, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.default {

  $block-name:                &; // #{$block-name}__element {}

}

html,
body {
  height: 100%;
  min-width: $screen-lg;
}