// В этом файле должны быть стили для БЭМ-блока contact, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact {

  $block-name:                &; // #{$block-name}__element {}

  &__top {
    background-color: white;
    padding-bottom: 28px;
    margin-bottom: 62px;
    // margin-top: -38px;
    // padding-top: 38px;
    // padding-bottom: 20px;
  }

  &__form {
    width: 100%;
    background-color: white;
    padding: 22px 29px 30px 30px;

    @include media-breakpoint-up(md) {
      width: 370px;
    }

    label {
      font-size: 13px;
      margin-bottom: 5px;
    }

    .form-group {
      margin-bottom: 19px;
    }

    .head-h4 {
      a {
        color: black;

        &:hover, &:focus {
          color: black;
        }
      }
    }
  }

  &__map {
    position: absolute;
    padding-top: 38px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
