// В этом файле должны быть стили только для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {
  font-size: 13px;
  padding: 10px 21px 8px 21px;
  letter-spacing: 0.6px;
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-primary {

    &:hover, &:focus {
      
    }

    &.active {
      
    }

    &:not(:disabled):not(.disabled):active {
      
    }
  }

  &-danger {

    &:focus, &.focus {

    }

    &.active {

    }

    &:not(:disabled):not(.disabled) {

    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {


      &:focus {

      }
    }
  }

  &-outline-primary {


    &:focus, &.focus {

    }

    @include hover-focus {

    }

    &.active {

    }

    &:not(:disabled):not(.disabled) {

    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {

      &:focus {

      }
    }
  }

  &-group {
    display: block;
    margin-bottom: 15px;
    
    .btn {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
