// В этом файле должны быть стили для БЭМ-блока nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.nav {

  $block-name: &; // #{$block-name}__element {}

  &-link {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;

    @media(min-width: $screen-lg){
      font-size: 14px;
    }

    &.active {
      color: $primary-light;
      border-bottom: 1px solid $danger;
    }

    &:hover, &:focus {
      color: #24668c;
    }
  }

  &-adress {
    color: #318de2;
    text-decoration: underline;

    &:hover, &:focus {
      color: $danger;
      text-decoration: none;
    }
  }

  #{$block-name} {

  }
}
