// В этом файле должны быть стили для БЭМ-блока card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element {}
  position: relative;
  border: none;
  z-index: 0;

  @media(min-width: $screen-lg){
    width: 270px;
  }

  &--background {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 100%;
      left: 0;
      width: 100%;
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(178,201,215,0) 35%, rgba(36,102,140,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(35%, rgba(178,201,215,0)), color-stop(100%, rgba(36,102,140,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(178,201,215,0) 35%, rgba(36,102,140,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(178,201,215,0) 35%, rgba(36,102,140,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(178,201,215,0) 35%, rgba(36,102,140,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(178,201,215,0) 35%, rgba(36,102,140,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#24668c', GradientType=0 );
    }
  }

  &-img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &-overlay {
      top: auto;
      border: 0px;
    }
  }

  &-body {
    margin-top: 222px;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    z-index: 1;
  }

  &-title {
    @media(min-width: $screen-lg){
      font-size: 16px;
    }
  }

  &-link {

  }

  a {
    text-decoration: underline;
  }

  &.text-white {
    #{$block-name} {
      &-body {
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    a {
      color: white;
    }
  }

  &.text-black {
    color: black;
  }
}
