// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-footer {
  $block-name: &;
  background-image: url(../img/footer-background.png);
  background-size: cover;
  color: white;

  @media(min-width: $screen-lg) {

  }

  &__inner {
    position: relative;
    display: block;
    height: 100%;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    flex: 1;
    padding: 0;
    position: relative;

    @media(min-width: $screen-xl){

    }
    @media(min-width: $screen-lg){

    }
  }

  &__bottom {
    background-color: white;
    color: black;
    padding: 16px 0px 16px 0px;
    font-size: 11px;
    
    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }

    .d-flex {
      @include media-breakpoint-down(md) {
        display: block !important;
      }
    }

    p {
      &:last-child {
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
      }
    }
     
    a {
      color: $color-primary;

      &:hover, &:focus {
        color: $color-primary;
      }
    }
  }
}
