@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

:root {

}

$theme-colors: (
  "primary": #24668c,
  "danger": #ff3200
);

$primary-light: #24668c;
$body-color: black;

// $body-bg: red;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;


// Modals


/// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                #333333;
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsla(0, 0%, 69%, 1);
$gray:                        #8891a6;
$gray-light:                  #a1aeb5;
$gray-lighten:                #c5cad9;
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               darken(#e9edf2, 5%);
$gray-ultra-lightest:         #f3f5f9;
$white:                       hsl(0, 0%, 100%);

$color-main:                  black;
$color-primary:               #24668c;
$color-primary-better:        #318de2;
$color-main--accent:          #e4f2fa;
$color-main--light:           #92c5e1;
$color-main--ultralight:      #8dbab7;
$color-main--gold:            #c79b38;
$color-success:               #38a53d;
$color-success-2:             #00d092;
$color-success--light:        #ecf8ee;
$color-danger:                #ff3200;
$color-danger--light:         #faedf1;
$color-warning:               #af2f44;



// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray;
$body-bg:                     #fff;

$link-color:                  $color-main;
$link-color--hover:           $color-main--accent;

// Базовая типографика

$font-size:                   14px;
$font-size--h1:               32px;
$font-size--h2:               24px;
$font-size--h3:               16px;
$font-size--h4:               14px;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            12px;

$line-height:                 1.429em;

$pt-sans:                     'PT Sans', sans-serif;
$font-family:                 $pt-sans;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   1050px;
$screen-xl:                   1240px;
$screen-xxl:                  1600px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                100%;
$container-xl:                100%;
$container-xxl:               $screen-xxl - 30;

$breadcrumb-divider: quote(">");

.container {
  max-width: 1200px !important;
}


// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;


// Разное

$field-padding-vertical:     9px;
$field-padding-horizontal:   14px;

$border-radius:               2px;
$border-color:                $gray-lightest;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 40px rgba(72, 72, 72, 0.35);

$z-index-modal:               100;

$header-height:               56px;

$menu-desktop-width:          $screen-xl;

$toggler-part-height:         2px;
$toggler-part-bg-color:       $gray-darkest;
